<!--后台弹幕管理的编辑/新增弹幕列表-->
#@layout()

#define content()

    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">

                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1>
                                编辑/新增
                                <small data-toggle="tooltip" title="" data-placement="right"
                                       data-trigger="hover"><i class="nav-icon far fa-question-circle"></i></small>
                                <small> 首页 / Barrage / 编辑</small>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-primary">
                    <form class=" form-setting autoAjaxSubmit" autocomplete="off"
                          action="/admin/barrage/doSave"
                          ok-function-href="/admin/barrage/list"
                          method="POST">
						<!--这注意之前的 ok-function-href 是 /admin/barrage/barrage/list-->

                        <div class="card-body ">
	                                <input type="hidden" id="entryId" name="barrage.id" value="#(barrage.id ??)">
		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">用户ID</label>
		                                <div class="col-sm-6">

										   <input type="text" name="barrage.user_id" class="form-control" value="#(barrage.user_id ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">作者</label>
		                                <div class="col-sm-6">

										   <input type="text" name="barrage.author" class="form-control" value="#(barrage.author ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">内容</label>
		                                <div class="col-sm-6">

										   <input type="text" name="barrage.content" class="form-control" value="#(barrage.content ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">排序编号</label>
		                                <div class="col-sm-6">

										   <input type="text" name="barrage.order_number" class="form-control" value="#(barrage.order_number ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">状态</label>
		                                <div class="col-sm-6">

										   <input type="text" name="barrage.status" class="form-control" value="#(barrage.status ??)"
		                                           placeholder="">
		                                </div>
		                            </div>
		                            <div class="form-group row">
		                                <label class="col-sm-2 col-form-label">发布时间</label>
		                                <div class="col-sm-6">

										    <input type="text" class="form-control datetime" placeholder="点击选择"
		                       						name="barrage.created" value="#date(barrage.created ?? now,'yyyy-MM-dd')" >
		                                </div>
		                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="offset-sm-2 col-sm-10 submit-block">
                                <div class="card-submit">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
            </div>
        </div>

    </section>

#end
