#define defaultBarragePage()

#if(option("barrage_enable","true"))
<form class=barrage-screen" action="#(CPATH)#(SPATH)/barrage/postBarrage" id="jpress-barrage-form" method="post" autocomplete="off">
    <div class="barrage-landscape"></div>
    <div class="barrage-filter"></div>
    <canvas id="canvas"></canvas>
    <div class="barrage-send">
        <div class="barrage-input clearfix">
            <input type="text" placeholder="biubiubiu ~" class="barrage-text" name="content">
            <button type="submit" class="barrage-btn">发送弹幕</button>
        </div>
    </div>
    <div class="barrage-s_show">
        <div class="magictime twisterInUp">欢迎使用彩色星空弹幕</div>

<!--        如果想使用barrages 就要去directive里面进行声明 或者在controller 里面进行赋值-->

        #for(barrage : barrages ??)
            <div class="magictime twisterInUp">#(barrage.content)</div>
        #end
    </div>
    <span class="clearfix"></span>
</form>

#end
#end